.banner {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 500 px;
  background-color: orange;
}

.banner-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #333;
}

.banner-content h1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 15px;
  padding: 50 px;
}

.banner-content p {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 15px;
  padding: 50 px;
}

.carousel {
  display: flex;
  justify-content: center;
}

.side-bar {}

.wrapper {
  width: 800px;
  height: 400px;
}

.scottpg {
  width: 800px;
  overflow: hidden;
}

.firstslide {
  object-position: 0px -760px;
}